{{/*
Given a dictionary containing "Head" and "Body" generates a table
with N columns.

Head needs to be a slice. The columns of the table are just all elements
of the Head slice.

Body needs to be a dictionary containing slices for values. Each row
corresponds to one key of Body containing the values for each slice
as the column values.
*/}}
<table>
  <thead>
    {{ $slice := .Head }}
    <tr>
      {{ range $val := $slice }}
        <th> <b> {{ $val }} </b> </th>
      {{ end }}
    </tr>
  </thead>
  <tbody>
    {{ range $dict := .Body }}
      <tr>
        {{ range $val := $dict }}
          <td> {{ $val }} </td>
        {{ end }}
      </tr>
    {{ end }}
  </tbody>
</table>
