{{/*
Given a dictionary containing "Head" and "Body" generates a table
with 2 columns. Head and Body need to be dictionaries themself.
The resulting table will contain rows with:
- 1st column: key of Head/Body table
- 2nd column: value of Head/Body table

For the Body we simply walk over all key/value pairs of the dictionary
and emit one row for each.
*/}}
<table>
  <thead>
    {{ range $key, $val := .Head }}
    <tr>
      <th> <em> <b> {{ $key }} </b> </em> </th>
      <th> <b> {{ $val }} </b> </th>
    </tr>
    {{ end }}
  </thead>

  <tbody>
    {{ range $key, $val := .Body }}
    <tr>
      <td> <em> {{ $key }} </em> </td>
      <td> {{ $val }} </td>
    </tr>
    {{ end }}
  </tbody>

</table>
