{{/*
Returns a slice of slices of of all courses found in the given module.
Each element of the result is a slice containing all fields of that
course.

The first element of each slice is always the current index, which is just
a counter (+ 1) to enumerate the courses in the module. This assumes that the
order in the TOML file under `CourseList` actually is the desired order!
*/}}

{{ $result := slice }}
{{ $map := .Map }}
{{ $courseDegreeMap := .CourseDegreeMap }}
{{ $data := .Data }}
{{ range $idx, $course := $map.CourseList }} {{/* remains the same  */}}
  {{ $degree := partial "determineDegree.html" (dict "Map" $courseDegreeMap "Course" $course)}}
  {{ $fname := (printf "mhb_%s_courses" (lower $degree)) }}
  {{ $fileCourses := (index $data $fname) }}
  {{ $courseMap := (index $fileCourses $course) }}
  {{/* Add the "Nr." field manually */}}
  {{ $row := slice (add $idx 1) }}
  {{ range $el := $.Fields }}
    {{ $row = $row | append (index $courseMap $el) }}
  {{ end }}
  {{ $result = $result | append (slice $row) }}
{{ end }}
{{ return $result }}
