{{/*
Generates the page for a single module (the parent of possible multiple courses).
*/}}

<article class="markdown book-post">
  {{/* Preamble and definitions */}}
  {{ $fname := .Page.Params.Title }}
  {{ $poKind := .Page.Params.Pokind }}

  {{ $data := printf "mhb_%s" $.Page.Params.Degree }}
  {{ $langmap := printf "%s_%s" $data "langmap" }}
  {{ $courseDegreeMap := printf "%s_course_map" $poKind }}

  {{ $fileLangMap := (index $.Site.Data $langmap) }}
  {{ $fileModules := (index $.Site.Data $data) }}
  {{ $fileCourseDegreeMap := (index $.Site.Data $courseDegreeMap) }}

  {{ $langMap := (index $fileLangMap "ModuleFields") }}
  {{ $langMapCourses := (index $fileLangMap "CourseFields") }}
  {{ $dict := (index $fileModules $fname) }}

  {{/* Title of the page */}}
  <h1> {{ $dict.mfTitle | markdownify }} -
    <a href={{printf "%s/%s/%s" .Site.BaseURL "/tags" $dict.mfNum}}>{{ $dict.mfNum | markdownify }}</a>
  </h1>

  {{/* Generate module overview table */}}
  {{ $header := (dict $langMap.mfNum $dict.mfNum) }}
  {{ $body := (dict $langMap.mfCP $dict.mfCP $langMap.mfCategory $dict.mfCategory $langMap.mfSemester $dict.mfSemester) }}
  {{ partial "genTable.html" (dict "Head" $header "Body" $body) }}

  {{/* Secondary headline */}}
  <h3> {{ $langMap.mfTitle }}: {{ $dict.mfTitle }} </h3>
  <em> {{ $langMap.mfParts }}: </em>

  {{/* The first column of the next table is just a numbering of all courses. Add the "Nr." column
  first. Then add all of the fields we will add from course table */}}
  {{ $rowFields := (slice "cfTitle" "cfNum" "cfCP" "cfKindShort" "cfWorkload" "cfSemester") }}
  {{/* Read the header */}}
  {{ $header = slice "Nr" }}
  {{ $header = $header | append (partial "getFields.html" (dict "Map" $langMapCourses "Data" $rowFields)) }}

  {{ $tabBody := partial "getCourseFields.html" (dict "Map" $dict "Fields" $rowFields "CourseDegreeMap" $fileCourseDegreeMap "Data" $.Site.Data)}}
  {{ $tabBody = dict "Head" $header "Body" $tabBody "Type" "Module" }}
  {{/* Generate the table listing all courses in this module */}}
  {{ partial "genCourseTable.html" $tabBody }}

  {{/* Finally read all of the last key/value pairs and emit */}}
  {{ $cntFields := (slice "mfRequirements" "mfPreparation" "mfContent" "mfGoals" "mfFormalities" "mfLength" "mfParticipants" "mfSignup" "mfNotes") }}
  {{ $body = partial "getMapDictFields.html" (dict "Map" $langMap "Dict" $dict "Fields" $cntFields) }}
  {{ range $el := $body }}
    {{ range $key, $val := $el }}
      <b> {{ $key | markdownify }}: </b>
      {{ $val | markdownify }}
      <br> <br>
    {{ end }}
  {{ end  }}

  <a href={{printf "/mhb/pdfs/%s/%s.pdf" $poKind $dict.mfNum}}>PDF version of this page.</a>

</article>
